<<<<<<< a5d288a421f52f7c3c1fe58ad782327974aa30db
<h1>Rooms</h1>

<div>
	<% @rooms.each do |room| %>
		<%= link_to room.name, room_path(room) %>
		<%= room.capacity %>
		<%= room.description %>
	<% end %>
</div>
=======
<h1>Rooms#index</h1>
<p>Find me in app/views/rooms/index.html.erb</p>
>>>>>>> pushing from barrie
