<div class="black-text">
  <div class='row'>
    <div class=' col s3 center-align'>
    <%= link_to "Home", root_path %>
    </div>
    <div class=' col s3 center-align'>
    <%= link_to "Sign In", new_user_session_path %>
    </div>
    <div class=' col s3 center-align'>
    <%= link_to "Log Out", destroy_user_session_path,method: :delete %>
    </div>
    <div class=' col s3 center-align'>
    <%= link_to "Conference Rooms", rooms_path %>
    </div>
  </div>
</div>
